* {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #f6f9fc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='248' height='248' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23d3d3d3' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23f3f0f4'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.title {
  font-family: "Noto Serif";
  letter-spacing: 2px;
  font-weight: normal;
}

.primary-custom {
  color: #00d4ff;
  font-family: "Roboto", sans-serif;
}

.primary-custom-btn {
  background-color: #0a2540;
  color: white;
  position: relative;
}

.primary-custom-btn:not(.active) {
  color: white;
}

.primary-custom-btn:not(.active):hover {
  background-color: #c2c8cf;
}

.primary-custom-btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.banner {
  color: black;
}

.banner-bg {
  position: relative;
}

.banner-bg h1,
.banner-bg p {
  text-shadow: 2px 2px 4px #000000;
}

.banner-bg::before {
  content: "";
  background-image: url("./images/road.jpg");
  background-position: center;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.85;
  width: 100%;
  height: 100%;
}

.section-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.card-header-custom {
  background-color: #0a2540;
  color: white;
  padding: 1.5rem 1.75rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.profile {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.profile-page-lower {
  min-height: 80%;
}

.section-viewlist {
  background-color: #0a2540;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.section-viewlist .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.white-card {
  background-color: white;
  color: black;
}

.list-table {
  background-color: white;
  border-color: #0f395e;
  min-height: auto;
}

.table {
  table-layout: auto;
}

.table-viewlist {
  table-layout: auto;
}

.table-viewlist thead th:last-child {
  width: 100%;
}

.landing .cover {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.cover {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-deck {
  margin-right: 0;
  margin-left: 0;
}

.card-title {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 2.5em;
  margin: auto;
}

.image-upload-container {
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  /* Quick on the way out */
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* Hide thing by pushing it outside by default */
  -webkit-transform: translateY(130%);
          transform: translateY(130%);
}

.nav-tabs {
  border-bottom: 0 solid transparent;
  border-radius: 0.25rem;
  background: #e9ecef;
}

.nav-tabs .nav-item {
  margin: 0.5rem;
}

.nav-tabs .nav-link {
  border-bottom: 0 solid transparent;
  border-radius: 0.25rem;
  padding: 0.5rem;
  -webkit-transition: color 0.35s ease-out;
  transition: color 0.35s ease-out;
}

.nav-tabs .nav-link:not(.active) {
  color: rgba(33, 37, 41, 0.5);
}

.nav-tabs .nav-link:not(.active):hover {
  color: #0a2540;
}

.nav-tabs .nav-link.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.most-liked {
  background-image: url("./images/road.jpg");
}

footer {
  background-color: #0a2540;
}

footer a {
  font-family: "Roboto", sans-serif;
  -webkit-transition: color 0.35s ease-out;
  transition: color 0.35s ease-out;
}

footer a:not(.active) {
  color: #bbbac6;
}

footer a:not(.active):hover {
  color: white;
  text-decoration: none;
}

footer a.disabled {
  opacity: 0.5;
  pointer-events: none;
}

footer h4 {
  text-transform: uppercase;
  font-size: 1em;
  color: white;
}

footer hr {
  background-color: white;
  margin-top: 0;
}

.edge {
  background-color: transparent;
}
/*# sourceMappingURL=main-styles.css.map */